[Unit]
Description=udptunnel
Documentation=man:udptunnel(1)

[Service]
Type=notify
Restart=on-failure
ExecStart=/usr/lib/udptunnel/udptunnel-wrapper %i
StandardOutput=journal
StandardError=journal
KeyringMode=private
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
NotifyAccess=all
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=yes
ProtectHostname=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RemoveIPC=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes

[Install]
WantedBy=network-online.target
